.container {
    padding: 1.5rem;
    width: 100%;
    position: relative;
}

.title {
    font-size: 2.5rem;
    color: black;
    font-family: var(--font-accent);
    font-weight: bold;
    padding: 2rem 1.5rem;
}

.itemsContainer {
    max-width: 100%;
    gap: 1.5rem;
    display: grid;
    padding: 1.5rem;
}

@media (min-width: 800px) {
    .itemsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .itemsContainer {
        grid-template-columns: 1fr;
    }
}