@import url(https://db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

.container {
    padding: 1.5rem;
    width: 100%;
    position: relative;
}

.title {
    font-size: 2.5rem;
    color: black;
    font-family: "COCOGOOSE";
    padding: 2rem 1.5rem;
}

.itemsContainer {
    max-width: 100%;
    gap: 1.5rem;
    display: grid;
    padding: 1.5rem;
}

@media (min-width: 800px) {
    .itemsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .itemsContainer {
        grid-template-columns: 1fr;
    }
}