:root {
    --fc-light: rgb(100, 100, 100);
}

.container {
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      to bottom right,
      transparent 0%,
      rgb(255, 164, 255)
    ),
    linear-gradient(to bottom left, transparent 0%, rgb(119, 219, 255) 80%),
    linear-gradient(to bottom, white 0%, white 20%, transparent 80%);
  background-blend-mode: screen;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-evenly;
  padding: 5em;
  flex-direction: row;
  font-size: 1.2rem;
  gap: 2rem;
}

@media (max-width: 786px) {
    .container {
        flex-direction: column;
    }
}

.descriptionContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.logo {
    height: 100px;
    width: auto;
    max-width: 100%;
    position: relative;
}

.email {
    color: var(--fc-light)
}

.linksContainer {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--fc-light);
    gap: 1rem;
}

.link {
    color: var(--fc-light);
    text-decoration: none;
    transition: 0.3s;
}

.link:hover {
    color: black;
    transition: 0.3s;
}