.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    padding: 10px;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 3;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .logoContainer {
    width: 120px;
    position: absolute;
    left: 10px;
  }
  
  .logo {
    width: 100%;
    height: auto;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navLinkWrapper {
    position: absolute;
    right: 0;
  }
  
  .navLink {
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.3em;
    color: black;
    transition: 0.2s;
    height: 100%;
  }

  .navLink:hover {
    color:var(--fc-accent);
    transition: 0.2s;
  }
  
  .mobileNavbar {
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    border: none;
    background-color: transparent;
    height: 50px;
    width: 50px;
    font-size: 30px;
    position: absolute;
    right: 20px;
    color: black;
  }

  .dropdownMenu {
    list-style: none;
    width: 60%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: rgb(127, 127, 127) 0px 0px 10px 3px;
  }

  .dropdownMenuLinks {
    list-style: none;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    margin-top: 1.5em;
    left: 0%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    --link-border: 2px solid rgb(227, 227, 227);
  }
  
  .navLinkItem {
    text-decoration: none;
    width: 90%;
    font-size: 2rem;
    color: black;
    padding: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: var(--link-border);
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topLink {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top: var(--link-border);
  }

  .bottomLink {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .navIcon {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .dropdownLink {
    text-decoration: none;
    color: black;
  }

  .dropdownHeader {
    height: auto;
    background-color: white;
    width: 100%;
    display: flex;
  }

  .navListItem {
    margin: 30px 0px;
  }

  .dropdownClose {
    background-color: transparent;
    border: none;
    font-size: 3em;
  }

  .dropdownCloseContainer {
    width: 50%;
    text-align: right;
    padding-right: 2em;
  }

  .logoDropdownContainer {
    width: 50%;
    float: left;
    padding-left: 10px;
  }
  
  .logoDropdown {
    width: auto;
    height: 120px;
  }

  @media (max-width: 550px) {
    .navLinkItem {
      font-size: 1.3rem;
      padding: 1rem;
    }

    .navIcon {
      font-size: 1.7rem;
    }

    .logoDropdown {
      width: auto;
      height: 65px;
    }

    .dropdownClose {
      font-size: 2rem;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgb(0, 0, 0);
    display: none;
    opacity: 0;
  }
  