.stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .stat {
    flex: 0 0 calc(33.33% - 30px);
    padding: 0 15px;
    text-align: center;
    padding-bottom: 60px;
  }

  .header {
    background-color: white;
    font-family: "COCOGOOSE";
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 75px;
}

.text {
    color: black;
    padding-top: 30px;
}

.textContainer {
    padding-bottom: 140px;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.textWrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
}

.menuButton {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-width: 3px;
    border-color: rgb(213, 28, 255);
    position: relative;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .aboutButton {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-width: 3px;
    border-color: rgb(52, 75, 255);
    position: relative;
    z-index: 20;
    margin-top: 10px;
  }
  
  .buttonContainer {
    width: 40%;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 20;
    flex-direction: column;
    font-family: "COCOGOOSE";
  }


@media screen and (max-width: 786px) {
    .stats {
        flex-direction: column;
    }
    .textContainer {
        flex-direction: column;
    }
    .textWrapper {
        width: 80%;
    }
    .buttonContainer {
        margin-top: 50px;
    }
}

@media screen and (min-width: 786px) {
    .stats {
        flex-direction: row;
    }
    .textContainer {
        flex-direction: row;
    }
    .textWrapper {
        width: 40%;
    }

}

