:root {
  --font-accent: "Secular One", sans-serif;
}

.aboutInfoContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch; /* Stretch flex items to have the same height */
  gap: 2rem;
  background-color: white;
  padding: 2%;
  position: relative;
  z-index: 2;
  padding: 1.5rem;
  padding-top: 120px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 0;
  min-width: 0; /* Allow the flex items to shrink when needed */
}

.imgContainer {
  position: relative;
  aspect-ratio: 56.25%;
}

.img {
  height: 100%; /* Make the image take up the entire height of the image container */
  object-fit: cover; /* Make the image cover the entire container while maintaining aspect ratio */
}


.header {
  font-size: 2.5rem;
  color: var(--fc-accent);
  font-family: var(--font-accent);
  font-weight: bold;
}

.paragraph {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}

.container {
  position: relative;
  padding-bottom: calc(120px + 2%);
  overflow: hidden;
  background-image: linear-gradient(
      to bottom right,
      white 0%,
      transparent 10%,
      rgb(255, 143, 255)
    ),
    linear-gradient(
      to bottom left,
      white 0%,
      transparent 10%,
      rgb(73, 207, 255) 80%
    );
}

.locationText {
  color: var(--fc-accent);
  font-family: var(--font-accent);
  font-size: 1.5rem;
  font-weight: bold;
}

.locationLogo {
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .container {
    padding-bottom: calc(120px + 4%);
  }

  .aboutInfoContainer {
    padding: 4%;
    padding-top: 120px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-bottom: calc(120px + 6%);
  }

  .aboutInfoContainer {
    padding: 6%;
    padding-top: 120px;
  }
}
